/* General Styling */
body {
  font-family: 'Poppins', ADLaM Display;
  background-color: #0D0D0D; 
  background-image: url('image 7.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #F5F5F5;
}

/* Heading */
h1 {
  text-align: center;
  color: black;
  margin: 20px 0;

}
/* Navigation Bar */
nav {
  background: black;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);

}

nav > a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 25px;
  transition: background 0.25s, color 0.25s;

}

nav > a:hover {
  background: rgb(56, 130, 209);
  color: black;

}

/* Website Content */
.content {
  background: rgba(20, 20, 20, 0.9);
  color:# black;
  width: 80%;
  max-width: 900px;
  margin: 40px auto 100px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.img-box img {
  width: 120px;   
  height: auto;   
}

.box {
  background-color: darkolivegreen;
  padding: 15px;
  margin: 15px auto;
  width: 90%;
  max-width: 700px;
  border-radius: 8px;
  border: 1px solid black;

  animation: float 3s ease-in-out infinite;


/* Bagi setiap kotak gerak tak serentak */
.box:nth-child(1) { animation-delay: 0s; }
.box:nth-child(2) { animation-delay: 0.2s; }
.box:nth-child(3) { animation-delay: 0.4s; }
.box:nth-child(4) { animation-delay: 0.6s; }
.box:nth-child(5) { animation-delay: 0.8s; }
.box:nth-child(6) { animation-delay: 1s; }
.box:nth-child(7) { animation-delay: 1.2s; }
.box:nth-child(8) { animation-delay: 1.4s; }

}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);


}

.img-box {
  text-align: center;
  margin: 30px;

/* WhatsApp icon */
.whatsapp-icon img {
  width: 10px;       
  height: 10px;    
  transition: transform 0.3s, filter 0.3s;
  cursor: all-scroll;
}

.whatsapp-icon img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #25D366);
}

.whatsapp-icon {
  position: fixed;
  top: 2px;       
  right: 20px;     
  bottom: auto;    
  left: auto;      
  z-index: 1111;

}

.footer {
  background: #white;
  color: #white;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid rgb(56, 130, 209);
  font-size: 0.9em;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
}

.footer p {
  margin: 5;
  color: white;

}